.scrollTop{
    display: none;
    background-color: #0091ea;
    bottom: 60px;
    color: #ffffff;
    font-size: 25px;
    line-height: 60px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 55px;
    z-index: 999;
    height: 55px;

}
#one {
    background: #0091EA;
}

.container {
    padding-top: 1%;
}

.navbar-brand span {
    color: #fff;
    font-weight: 600;
    font-size: 2em;
}

.nav li a {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    border-radius: 15px;
    margin-left: 0.4em;
}

.nav li:first-child a {
    background: #fff;
    color: #0091EA;
    transition: all 0.5s;
}

.nav li a:hover {
    background: #fff;
    color: #0091EA;
    transition: all 0.5s;
}

/*幻灯片*/
.carousel {
    width: 100%;
    height: auto;

}
.item img{
    filter: blur(1px);
}
.carousel-caption {
    position: relative;
    top: 30%;
}

.carousel-caption h1 {
    font-size: 3vw;
}

.carousel-caption p {
    font-size: 1.0vw;
}

#mycarousel span.left {
    position: relative;
    top: 50%;
    left: 10%;
}

#mycarousel span.right {
    position: relative;
    top: 50%;
    right: 10%;
}

.carousel-control {
    height: 100%;
}

.two h2 {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding-top: 2.3em;
    font-weight: 550;
}

.two p {
    font-family: sans-serif;
    color: #666666;
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.4em;
    margin-bottom: 3.1em;
}

.Our p {
    font-size: 1em;
    text-align: left;

}

.Our h3 {
    border-bottom: 0.14em solid #e5e5e5;
    color: #323232;
    font-size: 1.4em;
    display: inline-block;
    font-weight: 650;
    padding-bottom: 0.14em;
}

.you {
    margin-top: -1em;
}

.you p {
    margin-top: 0.5em;
}

.three {
    padding: 2em 0 4em 0;
    margin-top: 5em;
    background-color: #32A7EE;
}

.three h2 {
    font-family: sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    color: white;
    font-variant: small-caps;
    text-transform: uppercase;
}

.three p {
    line-height: 1em;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    letter-spacing: -0.04em;
}

.mu-title {
    text-align: center;
}

.mu-title h2 {
    color: #323232;
    font-size: 2.2em;
    text-transform: uppercase;
    margin-bottom: 0.6em;
    line-height: 1.13;
    font-weight: 700;
    margin-top: 2.75em;
}

.mu-title p {
    margin-bottom: 9rem;
    font-family: sans-serif;
    color: #666666;
    font-size: 1.2em;
}

.mu-single-service-icon {
    background-color: #0091ea;
    border-radius: 50%;
    color: #fff;
    font-size: 1.3em;
    float: left;
    height: 2.6em;
    width: 2.6em;
    text-align: center;
    line-height: 2.6em;
    margin-right: 1.3em;
}

.mu-single-service-content {
    float: left;
    width: 80%;
}

.mu-single-service-content h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: -0.1em;
    font-weight: 600;
}

.mu-single-service-content p {
    color: #666666;
    font-size: 1.1em;
    padding-bottom: 5.6em;
}

/*Video*/
.mu-video {
    background-color: #f5f5f5;
    display: inline;
    float: left;
    width: 100%;
    margin: 1em 0 1.3em 0;
}

.mu-video-left {
    display: inline;
    float: left;
    width: 50%;
    background: linear-gradient(to right, #64d1dd, #fff);
}

.mu-video-right {
    display: inline;
    float: right;
    width: 50%;
}

.mu-video-right p {
    color: #0091ea;
    font-size: 1.2vw;
    margin: 7em 17em 0 3em;
}

.four {
    text-align: center;
}

.four h2 {
    color: #323232;
    font-size: 2.2em;
    text-transform: uppercase;
    margin-bottom: 0.6em;
    line-height: 1.13;
    font-weight: 700;
    margin-top: 2.75em;
}

.four p {
    margin-bottom: 9rem;
    font-family: sans-serif;
    color: #666666;
    font-size: 1.2em;
}

.filter-area {
    margin-top: -2.8em;
    margin-bottom: 2em;
}

.simplefilter li {
    color: #323232;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.2em;
    font-size: 1.2em;
    font-weight: 700;
    transition: all 0.5s;
    border: 0px solid red;
}

.simplefilter li span {
    margin-left: 1.2em;
}

.five {
    margin-bottom: 2.4em;
}

.filter-item-content {
    background-color: #0091ea;
    font-size: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    color: #fff;
    transition: all 0.5s;
    opacity: 0.9;

    /*display: flex;
    justify-content:center;
    align-items:center;*/

}

.filtr-item h4 {
    font-size: 1.1em;
}

.six {
    margin-top: 8.2em;
    background-color: #32A7EE;
    width: 100%;
}

.mu-single-counter {
    border: 0px solid red;
    text-align: center;
    padding: 6em 0 14em 0;
}

.mu-single-counter span {
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 3.2em;
    padding: 0.8em 0.5em;
    float: left;
}

.mu-single-counter-content {
    float: left;
    text-align: left;
    padding-left: 1.6em;
    padding-top: 1em;
}

.counter-value {
    font-size: 2.5em;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    color: #fff;
    line-height: 1.2;
}

.mu-counter-name {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
}

.Blog {
    text-align: center;
}

.Blog h2 {
    color: #323232;
    font-size: 2.2em;
    text-transform: uppercase;
    margin-bottom: 0.6em;
    line-height: 1.13;
    font-weight: 700;
    margin-top: 2.75em;

}

.Blog p {
    margin-bottom: 5rem;
    font-family: sans-serif;
    color: #666666;
    font-size: 1.2em;
    border: 0px solid red
}

.daohang {
    margin-top: 0.6em;
    margin-bottom: 2em;
    border: 0px solid red;

}

.daohangUl {
    margin-left: -2em;

}

.daohangUl li {
    border: 0px solid red;
    color: #8f9090;
    font-size: 0.85em;
    list-style: none;
    display: inline-block;
    position: relative;
    padding-right: 1em;
    margin-right: 0.5em;
    line-height: 1.59;
}

.daohangUl li i {
    margin-left: 1.2em;
}

.text {
    margin: -1em 0 0 0.8em;

}

.text h2 a {
    color: black;
    font-size: 0.5em;
    font-weight: 700;
    display: block;
    line-height: 1.6em;
    text-decoration: none;
}
.text .aclass{
    display: block;
    margin:0.8em 0;
}
/*footer*/  
.mu-footer-top {
    background-color: #0277bd;
    display: inline;
    float: left;
    margin-top: 7em;
    padding: 3em 0;
    width: 100%;
}
.mu-single-footer {
    display: inline;
    float: left;
    color: #fff;
    font-size: 14px;
    width: 100%;
}

.mu-footer-logo {
    margin-bottom: 25px;
}

.mu-single-footer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.mu-single-footer ul li {
    border-bottom: 1px solid #1c85c4;
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 12px;
    font-size: 14px;
}

.mu-single-footer ul li:last-child {
    border-bottom: none;
}

.mu-single-footer ul li a {
    color: #fff;
}

.mu-single-footer .mu-useful-links li {
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 15px;
     
}

.mu-single-footer .list-unstyled li {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.mu-single-footer .list-unstyled li.media span {
    margin-right: 10px;

}

.mu-single-footer .list-unstyled li.media p {
    line-height: 1.5;
    margin-top: -5px;
    margin-bottom: 4px;
    font-size: 14px;
}

.mu-single-footer .list-unstyled li.media a {
    font-size: 12px;
}

.mu-footer-bottom {
    background-color: #004f7f;
    display: inline;
    padding: 20px 0;
    float: left;
    width: 100%;
}

.mu-footer-bottom-area {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}

.mu-social-media {
    display: inline;
    float: left;
    width: 100%;
    border-top: 1px solid #1c85c4;
    padding-top: 12px;
}

.mu-social-media a {
    background-color: #3b5998;
    border: 1px solid #babcbe;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.mu-social-media a.mu-twitter {
    background-color: #1da1f2;
}

.mu-social-media a.mu-google-plus {
    background-color: #dd4b39;
}

.mu-social-media a.mu-pinterest {
    background-color: #bd081c;
}

.mu-social-media a.mu-youtube {
    background-color: #cd201f;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
    border-color: #babcbe;
    color: #fff;
}

.mu-copy-right {
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
}

.mu-copy-right a {
    color: #fff;
    font-weight: 600;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

