*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #FCFAFA;
    text-rendering : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
}
a{
    text-decoration: none;
    color: #2c3e50;
}
a:hover {
    text-decoration: none;
    color: rgb(125, 214, 97);
}
.container-fluid {
	background-color: #FCFAFA;
}



.nav-button {
	display: none;
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 16px;
	margin-right: 25px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background: #eaecef; 
}
.nav-button .icon-bar {
	display: block;
	margin-top: 4px;
	width: 22px;
	height: 2px;
	background: #868c94;
	border-radius: 1px; 
}
.btnDropdown{
    position: relative;
    width: 100%;
	margin-top: 70px;
	border-bottom: 1px solid #eaecef;
	background: #FCFAFA;
}

.oneUl{
    margin-left: 30px;
}
.oneUl li{
    padding-top: 15px; 
}
.oneUl ul a{
    text-decoration: none;
    color: #2c3e50;
}
.twoUl li{
	padding-left: 15px;
	padding-top: 20px;
}
.twoUl li a:hover{
	color: pink;
}


.header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eaecef;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FCFAFA;
}
.header .nav{
    box-sizing: border-box;
    width: 50%;
    float:left;
}
.nav .nav-left{
    font-family:'黑体';
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 25px;
    top: 15px;
}
.nav-links{
    position: absolute;
    right: 0px;
    top: 25px;
}
.linkBorder{
    border:1px solid rgb(125, 214, 97);
    width: 15px;
    margin-left: 8px;
	margin-top: 5px;
	display: none;
}
.arrow{
    position: relative;
    top: 13px;
	border: 6px solid;
	margin: 0 0 0 10px;
	border-color:#ccc transparent transparent transparent;
}

.nav-item{
    float: left;
    margin-left: 29px;
    font-family: sans-serif;
    font-size: 15px;
}
.dropdown-title{
    cursor: pointer;
    padding-right: 40px; 
}
.dropdown{
    position: relative;
    top: 13px;
    right: 15px;
    border-radius: 3px;
    border: 1px solid #eaecef;
    text-align: left;
    background: #fff;
    font-family: "hoefler text", georgia, times, serif;
} 
.item{
    margin-top: 9px;
}
.nav-link:hover{
    color: rgb(125, 214, 97);
}




#hero {
	padding: 140px 0;
	min-height: 700px;
	position: relative;
}

.date {
	display: inline-block;
	font-size: 18px;
	color: #818181;
}

.tags .badge-light{
	background-color: #EDEDED;
	color: #555;
	font-weight: normal;
}

.hero-img-container {
	position: absolute;
	left: 0px;
	padding: 0;
}

.hero-img {
	max-width: 540px !important;
	height: 540px;
	overflow: hidden;
	border-radius: 100%;
}

.hero-img img {
	width: 100%;
	height: auto;
}

.hero-title {
	background-color: #FCFAFA;
	border-radius: 150px;
	padding: 25px 60px;
	padding-right: 10px;
	margin-top: 95px;
	font-family: 'Playfair display'
}
.hero-title h1 {
	font-size: 60px;
	font-weight: bold;
	line-height: 70px;
	color: #000;
	text-decoration: none;
	transition: 500ms;

}
.hero-title a h1:hover {
	transform: scale(1.01);
}

.hero-meta p {
	font-size: 22px;
	line-height: 30px;
	color: #404040;
}

.author-img , .author-meta{
	display: inline-block;
	vertical-align: top;
}
.author-img {
	margin-right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	overflow: hidden;
}

.author-img img{
	max-width: 100%;
	height: auto;
}

.author-meta span{ 
	display: block;
}

.author-name {
	font-size: 18px;
	margin-top: 5px;
	font-weight: bold;
}

.author-tag {
	font-size: 14px;
	color: #818181;
}

/* skills */
.skills{
	border-top: 1px solid #eaecef;
    padding: 2rem 0;
	margin: 19rem 2rem 0 2rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: stretch;
	justify-content: space-between;
}

.skill{
	flex-grow: 1;
    flex-basis: 30%;
	max-width: 30%;
	margin: 2rem 0rem;
}
.skill h2{
	font-size: 1.4rem;
	font-weight: 500;
	border-bottom: none;
	padding-bottom: 0;
	color: #3a5169;
	line-height: 1.25;
}
.skill p{
	color: #4e6e8e;
	line-height: 1.7;
}

/* Media Queries */

@media(max-width: 1200px) {

	/* .hero-img {
		width: 500px;
		height: 500px;
	}
 */
	.skills{
		margin-top: 15rem;
	}
	footer {
		text-align: center;
	}

}


@media(max-width: 992px) {
	#hero {
		padding: 75px 0 60px;
	}

	.hero-img-container {
		position: static;
		margin: 10px auto;
		text-align: center;
	}

	.hero-img-container .hero-img {
		display: inline-block;
	}

	.hero-title {
		padding: 0;
		margin: 0;
	}
		#hero {
		text-align: center !important;
	}
	.skills{
		margin-top: 10rem;
	}
}
@media(max-width: 768px){
	.nav-button{
		display: block;
	}
	.navTwo{
		display: none;
	}
}
@media(max-width: 585px){
	.hero-img {
		width: 350px;
		height: 350px;
	}
	.hero-title h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.skills{
		text-align: left;
		margin-top: 8rem;
	}
	.skill{
		flex-basis: 100%;
		max-width: 100%;
		margin: 1.5rem 0 0 2rem;
	}
	
}

@media(max-width: 320px){
	.hero-img {
		width: 300px;
		height: 300px;
	}
}