* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Roboto", sans-serif; 
    cursor: pointer;
}

.scrollTop{
    display: none;
    background-color: #7bd0fa;
    bottom: 40px;
    color: #ffffff;
    font-size: 25px;
    line-height: 60px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 55px;
    z-index: 9;
    height: 55px;

}

/*图片*/

#picture .carousel {
    max-width:100%;
    height: 713px;
    overflow: hidden;
    position: relative;
   
}

#picture .image_reel {
    position: absolute;
    left: 0;
    top: 0;
}

#picture .image_reel img {
    float: left;
    width: 1440px;
    filter: brightness(80%);
}

#picture .paging {
    position: absolute;
    bottom: 36%;
    left: 6em;
    display: none;
}

#picture .page_image img{
    border-radius:30px;
    width: 4.6em;
    height: 4.5em;
}

#picture .page_image img:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}


#picture .aj .spanborder{
    background:  #fff;
    width: 60px;
    height: 2px;
    position: absolute;
    left: -90px;
    top: 25px;
    display: none;
}

#picture .paging span{
    margin-left: 1em;
    display: inline-block;
    color: #fff;
}

#picture .container{
    position: absolute;
    bottom:11em;
    left: 12em;
}

#picture .container h2{
    font-size: 5vw;
    color: #fff;
    font-weight: 300;
     
}

#picture .container p{
    color: #fff;
    font-size: 1.2em;
    line-height: 2em;
}

#picture .container p span{
    border-right:2px solid #fff;
    padding-right:0.8em;
    padding-left: 0.8em;
}

#picture .container p span:last-child{
    border-right:none;
}


#picture .pagehover{
    transform: scale(1.2);
    transition: all 0.5s;
}

.header__logo_menu_wrap{
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100px;
    
}

.header_fixed{
    position: fixed;
    top: 0;
    z-index: 4;
    background: #333;
    width: 100%;
    height: 100px;
    background-color:rgba(0,0,0,0.8);
    transition: all 0.2s;
}

.header__logo{
    left: 360px;
    top: 15px;
    
}

.header__logo img{
    border-radius: 50%;
    filter: brightness(140%);
}

.header__menu{
    position: absolute;
    left: 520px;
    top: 2.4em;
}

.onepage-nav .onepage-menu li a {
    text-decoration:none;
    font-size: 1.1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:0.2em;
    
    
}
.current-menu-item a{
    background: pink;
    display: inline-block;
    height: 2em;
    border-radius: 2em;
}

.color{
    background: pink;
    color: #fff;
    display: inline-block;
    height: 2em;
    border-radius: 2em;
}

/*.onepage-nav .onepage-menu a:hover{
    
    
    transition: all 0.3s;
}*/

.onepage-nav ul {
    list-style: none;
}

.onepage-nav .onepage-menu > li {
    display: inline-block;
}



.kong{
    height: 8em;
    background: rgb(247, 245, 245);
}

.kong1{
    height: 5em;
    background: rgb(247, 245, 245);
}

.two{
    background: rgb(247, 245, 245);
}

.two .container{
    text-align: center;
}

.two .photoGraph .more{
   position: absolute;
    top: 13em;
    left: 10em;
    color: #fff;
    font-size: 1.3em;
    z-index:3;
}

.two .photoGraph{
    overflow: hidden;
    margin: 10px auto;
    margin-left: 20px;
    height: 290px;
    width: 270px!important;
    padding : 0!important;
    
}

.two .photoGraph img{
    transition: all 0.5s;
    height: 290px;
    width: 270px;
    z-index: 1;
}


.two .box-image__info{
    background: #000;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 290px;
    color: #fff;
    z-index: 2;
    
}

/*.photoGraph .more{
    position: absolute;
    top: 7em;
    left: 6em;
    color: #fff;
    font-size: 1.3em;
    background: #7bd0fa;
    border-radius: 20%;
}*/

.two .box-image__info h4{
    padding-top: 3.7em;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 2em;
}

.two .box-image__info p{
    color: #a9a9a9;
    font-size: 1.3em;
    
}


.three{
    margin-top: 100px;
}

.three .container{
    text-align: center;
}

.three .photoGraph{
    overflow: hidden;
    margin: 10px auto;
    margin-left: 20px;
    height: 550px;
    width: 370px!important;
    padding : 0!important;
    
}

.three .photoGraph img{
    transition: all 0.8s;
    height: 550px;
    width: 370px;
}

.three .box-image__info{
    background: #000;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 550px;
    color: #fff;
    
}

.three .box-image__info h3{
    
    top: -1em;
    left: 1.3em;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 64px;
}

.three .box-image__info p{
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
    
    top: 0;
    left: 1em;
}

.three .box-image__info span{
    font-size: 1.2em;
    font-weight: bold;
    top: 18em;
    left: 1.3em;
}

.three .box-image__info a{
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    top: 16.7em;
    left: 14em;
}



#aboutMe{
    background-color: #deeef7;
    height: 500px;
}

#aboutMe h2{
    
    font-weight: bold;
}

#aboutMe h3{
    text-transform:uppercase;
    color: gray;
    font-size: 1em;
}

#aboutMe{
    margin-top: 5em;

}

#aboutMe img{
    border-radius: 50%;
    margin-top: 2em;
}

.footer p{
    background: #f2f2f2;
    padding: 15px 0;
    color: gray;
    margin-bottom: 0;
}

.box-share_wrap  {
    margin-top: 3em;
    margin-bottom: 3em;
}

.box-share_wrap .container img{
    width: 160px;
    height: 140px;
    margin-left: 3em;
}

.box-share_wrap .container span{
    position: absolute;
    color: rgb(255, 0, 106);
    bottom: 0.1em;
    
    
}